.random-planet{
  display: flex;
  height: 200px;
  width: 85vw;
  background-color: #303030;
  border-radius: 5px;
  margin-top: 3%;
  align-items: center;
}
.random-planet_info{
  margin-left: 3%;
}
.random-planet_image{
  height: 180px;
  width: 180px;
  border-radius: 5px;
  margin-left: 2%;
}
.random-planet_planet{
  color: #3ec0aa;
  font-size: 20px;
}