.error-block{
  width: 100%;
  font-size: 32px;
  color: #ad2c27;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.error-block_image{
  height: 80px;
  width: 80px;
}
.error-block p {
  margin: 0;
}